

header{
    background-color: #4c18f8;
   
}

header p{
    color: #ffffffff;
}



#carouselExampleFade{
   padding-block: 5px;
   background-color: #4c18f8;
   border-bottom-left-radius: 1%;
   border-bottom-right-radius: 1%;
   
}





h1{
    font-size: 55px;
    color:#303030;
    padding: 15px;
    color: white;
    text-align: center;
}

h2{
    font-size: 25px;
    text-transform: uppercase;
    color: #643D3D;
    font-weight: 600;
}

h5 {
    font-size:medium;
    color: rgb(0, 0, 0);
    text-shadow: 0px 0px rgb(0, 0, 0);
   
  
   
}

.carousel.caption h5{
    font-size: 40px;
    color:#f1f6f6fb;
    text-shadow: 2px 2px black;

}

.container-fluid {
    color: #0A1626;
    
}

.internacional{
    background-color: #F2ECCE;
}


body{
   font-size: 19px;
 
}


footer{
    
    color: #022859;
}


@font-face {
    font-family: minhaFonte;
    src: url(Fonte/LTSaeada-Light.otf);
  }
  body{
    font-family:minhaFonte ;
  }