

header{
    background-color: #26ddeafb;
}

header p{
    color: #ffffffff;
}


h1{
    font-size: 55px;
    color:#303030;
    padding: 15px;
    color: white;
    text-align: center;
}

h2{
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
}

h5 {
    font-size: medium;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px rgb(202, 215, 220);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
}

.carousel.caption h5{
    font-size: 80px;
    color:#26ddeafb;
    text-shadow: 2px 2px black;

}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

footer{
   background-color:#26ddeafb ;
}
